body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Celeste suave */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #2a9d8f; /* Verde agua */
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: -500px;
    margin-left: 200px;
}

form {
    background-color: #a7f3da;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1rem;
    color: #0a776a;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #85ce32;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #2a9d8f;
    outline: none;
}

input[type="submit"] {
    background-color: #2a9d8f;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1f7d6c; /* Verde agua más oscuro */
}

/* Estilos de texto de error */
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Responsividad */
@media (max-width: 600px) {
    form {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }
}
